
:host {
  display: block;
  width: 100%;
  height: 100vh; 
  background: linear-gradient(135deg, #ffafbd, #ffc3a0);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; 
}

.statisticsVert, .statisticsPie {
  width: 45%; 
  height: 90%; /* Αύξηση του ύψους των διαγραμμάτων */
}

.statistics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 30px; 
  height: 400px; /* Αύξηση του ύψους του container */
}


.home-container {
  text-align: center;
  padding: 40px; 
  background: linear-gradient(to bottom right, #ffffff, #e2eafc); 
  border-radius: 12px; 
  max-width: 700px; 
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: #333;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #007bff; 
}

h2 {
  font-size: 1.5rem; 
  margin-bottom: 15px;
  color: #333; 
}

p {
  font-size: 1.1rem; 
  margin-bottom: 25px;
}

.statistics {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #007bff; 
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.btn {
  display: inline-block;
  padding: 12px 24px; 
  font-size: 1.1rem;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 8px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn:hover {
  background-color: #0056b3; 
  transform: translateY(-3px); 
}

.btn:active {
  background-color: #004085; 
  transform: translateY(0); 
}
