
<div class="mat-elevation-z8">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search notifications">
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="notificationId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notification Id </th>
            <td mat-cell *matCellDef="let notification"> 
                <a [routerLink]="['/menu/task', notification.NotificationId]">{{notification.NotificationId}}</a> </td>
          </ng-container>

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
        <td mat-cell *matCellDef="let notification"> {{notification.userId}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let notification"> {{notification.title}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let notification"> {{notification.description}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
