
<div class="profile-card">
    <h2>Το προφίλ μου</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="LastName">Επώνυμο:</label>
        <input type="text" id="LastName" formControlName="LastName">
      </div>
      <div>
        <label for="FirstName">Όνομα:</label>
        <input type="text" id="FirstName" formControlName="FirstName">
      </div>
      <div>
        <label for="Age">Ηλικία:</label>
        <input type="number" id="Age" formControlName="Age">
      </div>
      <div>
        <label for="DateOfBirth">Ημερομηνία Γέννησης:</label>
        <input type="date" id="DateOfBirth" formControlName="DateOfBirth">
      </div>
      <div>
        <label for="Username">Όνομα Χρήστη:</label>
        <input type="text" id="Username" formControlName="Username">
      </div>
      <div>
        <label for="Password">Κωδικός:</label>
        <input type="text" id="Password" formControlName="Password">
      </div>
      <button type="submit">Αποθήκευση</button>
    </form>
  </div>
  
