html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .reset-page {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffefcc; 
  }
  
  .reset-container {
    width: 500px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #007bff;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-control {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  .rst-login {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rst-login:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #ff4d4d;
    margin-bottom: 15px;
  }
  
 
  