
  <div class="reset-page">
    <div class="reset-container">
      <h1>Συμπληρώστε το username σας για να σας σταλει email με τον κωδικό σας</h1>
      <h2>Forgot Password</h2>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" formControlName="Username" class="form-control">
        </div>
        
        <div *ngIf="resetError" class="error-message">{{ resetError }}</div>
        <button type="submit" class="rst-login">Send Email</button>
      </form>
      
    </div>
  </div>
